<div class="auth-container">
    <div class="auth-form">
        <h2 class="auth-title">Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
            <div class="form-group">
                <label for="usuario" class="form-label">Usuario</label>
                <input [(ngModel)]="usuario" name="usuario" type="text" id="usuario" class="form-input"
                    placeholder="Ingrese su usuario" required />
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Contraseña</label>
                <input [(ngModel)]="password" name="password" type="password" id="password" class="form-input"
                    placeholder="Ingrese su contraseña" required />
            </div>

            <button type="submit" class="auth-button">Ingresar</button>

            @if (error) {
            <div class="error-message">{{error}}</div>
            }
        </form>
    </div>
</div>